<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="logAppender" type="log4net.Appender.RollingFileAppender">
    <file value="./NUnitBenchmarker.log"/>
    <appendToFile value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %message%n" />
    </layout>
  </appender>
  <appender name="consoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %message%n" />
    </layout>
  </appender>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %message%n" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="logAppender" />
    <appender-ref ref="consoleAppender" />
    <appender-ref ref="TraceAppender"/>
  </root>
</log4net>