<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUIService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/NUnitBenchmarker/UIService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUIService"
                contract="UIServiceReference.IUIService" name="BasicHttpBinding_IUIService" />
        </client>
    </system.serviceModel>
</configuration>