<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NUnitBenchmarker.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="NUnitBenchmarker.UIService.UIService">
        <endpoint address="" binding="basicHttpBinding" contract="NUnitBenchmarker.UIService.IUIService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8091/NUnitBenchmarker/UIService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>  

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <userSettings>
    <NUnitBenchmarker.UI.Properties.Settings>
      <setting name="MainWindowTop" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="MainWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SplitHeightTop" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="SplitWidthLeft" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SplitHeightBottom" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="SplitWidthRight" serializeAs="String">
        <value>*</value>
      </setting>
    </NUnitBenchmarker.UI.Properties.Settings>
  </userSettings>
  
  <appSettings>
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
  </appSettings>  
</configuration>