<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\NUnitBenchmarker.Benchmark.Tests\packages.config" />
  <repository path="..\src\NUnitBenchmarker.Benchmark\packages.config" />
  <repository path="..\src\NUnitBenchmarker.Core.Tests\packages.config" />
  <repository path="..\src\NUnitBenchmarker.Core\packages.config" />
  <repository path="..\src\NUnitBenchmarker.Tests.Targets\packages.config" />
  <repository path="..\src\NUnitBenchmarker.UI\packages.config" />
  <repository path="..\src\NUnitBenchmarker.UIClient\packages.config" />
  <repository path="..\src\NUnitBenchmarker.UIService\packages.config" />
</repositories>