<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="logAppender" type="log4net.Appender.RollingFileAppender">
    <file value="./NUnitBenchmarker.log"/>
    <appendToFile value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level% %message%n" />
    </layout>
  </appender>
  <appender name="publisherAppender" type="NUnitBenchmarker.Core.Infrastructure.Logging.Log4Net.PublisherAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level% %message%n" />
    </layout>
  </appender>
  <appender name="traceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level% %message%n" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="logAppender" />
    <appender-ref ref="publisherAppender" />
    <appender-ref ref="traceAppender"/>
  </root>
</log4net>